* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 85vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url("../img/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 100px;
  padding-left: 8px;
  padding-top: 35px;
}
header svg {
  width: 200px;
  height: 28pt;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  padding: 0 25px;
  align-items: center;
  margin-bottom: 100px;
}
.main-container .image-main--container {
  width: 100%;
  height: auto;
}
.main-container .image-main--container .image-container {
  width: 300px;
  height: 300px;
  background-image: url("../img/illustration-mockups.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main-container .subtitle-main--container {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
.main-container .subtitle-main--container h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  margin-bottom: 21px;
}
.main-container .subtitle-main--container p {
  font-size: 1rem;
  line-height: 1.6rem;
  color: white;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 37px;
}
.main-container .subtitle-main--container .primary-button {
  width: 215px;
  height: 48px;
  padding: 5px;
  text-align: center;
  font-size: 1.1rem;
  color: hsl(257, 40%, 49%);
  border-radius: 50px;
  align-self: center;
  cursor: pointer;
  border: none;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.main-container .subtitle-main--container .primary-button:hover {
  color: whitesmoke;
  background-color: hsl(300, 69%, 71%);
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socialmedia-container {
  width: 250px;
  height: 65px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer .socialmedia-container svg {
  width: 47px;
  height: 47px;
}
footer .socialmedia-container svg:hover {
  fill: hsl(300, 69%, 71%);
  cursor: pointer;
}