* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url("../img/bg-mobile.svg");
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 100px;
  padding-left: 8px;
  padding-top: 35px;
}
header svg {
  width: 200px;
  height: 28pt;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  padding: 0 25px;
  align-items: center;
}
.main-container .image-main--container {
  width: 100%;
  height: 45%;
  padding-top: 28px;
}
.main-container .image-main--container .image-container {
  width: 100%;
  height: 50%;
  background-image: url("../img/illustration-mockups.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}